<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mertcansucu.mertcansucuobs">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MertCanSucuObs"
        tools:targetApi="31">
        <activity
            android:name=".ogretimsifreyenileme"
            android:exported="false" />
        <activity
            android:name=".kayitolOgretim"
            android:exported="false" />
        <activity
            android:name=".ogrencisifreyenileme"
            android:exported="false" />
        <activity
            android:name=".ogretim_giris"
            android:exported="false" />
        <activity
            android:name=".kayitolOgrUye"
            android:exported="false" />
        <activity
            android:name=".ogretimgorevlisiekrani"
            android:exported="false" />
        <activity
            android:name=".yoneticiekrani"
            android:exported="false" />
        <activity
            android:name=".ogrenciekrani"
            android:exported="false" />
        <activity
            android:name=".kayitol"
            android:exported="false" />
        <activity
            android:name=".yonetici_giris"
            android:exported="false" />
        <activity
            android:name=".ogretimgorevlisikayit"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>